.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.form-group {
  width: 400px;
  display: flex;
  gap: 20px;
}

.content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}